$primary: #f3976c;

@keyframes mobile-menu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
body {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px #000;
  padding: 15px;
  z-index: 10;
  .navbar-img img {
    height: 70px;
    width: 250px;
  }
}
.navbar-header {
  .menu-hamburger {
    margin: 0 15px;
  }
  .navbar-links {
    display: none;
    background-color: hsla(19, 85%, 69%, 0.8);
    backdrop-filter: blur(7px);
    position: absolute;
    width: 100%;
    top: 104px;
    left: 0;
    li {
      width: 100%;
      padding: 15px 20px;
      font-size: 20px;
      box-shadow: inset 0px -1px 2px #000;
    }
  }
  .mobile-menu {
    display: block;
    transform: translateY(30px);
    animation: mobile-menu 0.3s both;
  }
}

footer {
  background-color: $primary;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  p {
    font-size: 21px;
  }
  .social-content {
    display: flex;
    gap: 40px;
    .social-link {
      color: #000;
      &:hover {
        color: hsl(19, 85%, 10%);
      }
    }
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    a {
      font-size: 19px;
      color: hsla(0, 0%, 0%, 0.8);
    }
  }
}

@media all and (min-width: 767px) {
  .header {
    justify-content: space-around;
  }
  .navbar-header {
    .menu-hamburger {
      display: none;
    }
    .navbar-links {
      display: block;
      background-color: transparent;
      position: relative;
      top: 0;
      ul {
        display: flex;
        height: 100%;
      }
      li {
        box-shadow: none;
        padding-right: 35px;
      }
    }
  }

  footer {
    .footer-content {
      flex-direction: row;
      gap: 60px;
    }
  }
}

@media all and (min-width: 993px) {
  footer {
    .footer-content {
      flex-direction: row;
      gap: 100px;
    }
  }
}
